<p id="notice"><%= notice %></p>

<p>
  <strong>Theater:</strong>
  <%= @seat_price.theater %>
</p>

<p>
  <strong>Weekdays:</strong>
  <%= @seat_price.weekdays %>
</p>

<p>
  <strong>Weekdays:</strong>
  <%= @seat_price.weekdays %>
</p>

<p>
  <strong>Weekends:</strong>
  <%= @seat_price.weekends %>
</p>

<p>
  <strong>Weekends:</strong>
  <%= @seat_price.weekends %>
</p>

<p>
  <strong>Is deleted:</strong>
  <%= @seat_price.is_deleted %>
</p>

<%= link_to 'Edit', edit_seat_price_path(@seat_price) %> |
<%= link_to 'Back', seat_prices_path %>
