<p id="notice"><%= notice %></p>

<h1>Listing Offers</h1>

<table>
  <thead>
    <tr>
      <th>Theater</th>
      <th>Anme</th>
      <th>Description</th>
      <th>Discount</th>
      <th>Promo code</th>
      <th>Starting date</th>
      <th>Ending date</th>
      <th>Is deleted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.theater %></td>
        <td><%= offer.anme %></td>
        <td><%= offer.description %></td>
        <td><%= offer.discount %></td>
        <td><%= offer.promo_code %></td>
        <td><%= offer.starting_date %></td>
        <td><%= offer.ending_date %></td>
        <td><%= offer.is_deleted %></td>
        <td><%= link_to 'Show', offer %></td>
        <td><%= link_to 'Edit', edit_offer_path(offer) %></td>
        <td><%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Offer', new_offer_path %>
