<p id="notice"><%= notice %></p>

<h1>Listing Promotions</h1>

<table>
  <thead>
    <tr>
      <th>Movie</th>
      <th>Whatsapp</th>
      <th>Facebook</th>
      <th>Twitter</th>
      <th>Link</th>
      <th>Is deleted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @promotions.each do |promotion| %>
      <tr>
        <td><%= promotion.movie %></td>
        <td><%= promotion.whatsapp %></td>
        <td><%= promotion.facebook %></td>
        <td><%= promotion.twitter %></td>
        <td><%= promotion.link %></td>
        <td><%= promotion.is_deleted %></td>
        <td><%= link_to 'Show', promotion %></td>
        <td><%= link_to 'Edit', edit_promotion_path(promotion) %></td>
        <td><%= link_to 'Destroy', promotion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Promotion', new_promotion_path %>
